# Eclipse-generated stuff
/lang-stlc/bin/
/lang-stlc/.metadata/
/lang-stlc/.cache/
/lang-stlc/.sugarjcache/
/lang-bogus/bin/
/lang-bogus/.metadata/
/lang-bogus/.cache/
/lang-bogus/.sugarjcache/
/lang-stlcweak/bin/
/lang-stlcweak/.metadata/
/lang-stlcweak/.cache/
/lang-stlcweak/.sugarjcache/
/lang-systemffv/bin/
/lang-systemffv/.metadata/
/lang-systemffv/.cache/
/lang-systemffv/.sugarjcache/
/lang-fj/bin/
/lang-fj/.metadata/
/lang-fj/.cache/
/lang-fj/.sugarjcache/
